@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply min-h-[200vh] bg-black-500 flex flex-col scroll-smooth
}

/*.li-nav{
    @apply 
        flex 
        text-white gap-6 
        bg-[#0F0F0F] 
        rounded-br 
        font-sora 
        flex-col 
        py-16 
        px-8 
        md:rounded-none 
        md:flex-row 
        md:p-0 
        md:bg-transparent
}*/
.anchor-nav{
    @apply cursor-pointer
}
.anchor-nav:hover{
    @apply text-red-500
}

.active{
    @apply translate-x-[-150px]
}



.btn-menu{
    @apply  
    text-lg 
    w-max 
    text-white 
    font-bold 
    font-sora 
    text-center 
    py-2
    md:py-4
    px-6
    flex
    items-center
    gap-2
}
@layer components{
    .btn{
        color: #FF6C00;
        padding: 16px 24px;
        border: 1px solid #FF6C00;
        border-radius: 8px;
        position:relative;
        box-sizing: border-box;
        transition: 1s;
        background: rgba(0,0,0,0);
        font-size: 1.875rem
    }
    .btn::after{
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 100%;
        background: #FF6C00;
        top: 0;
        left: 0;
        border-radius: 8px;
        transition: .4s;
        z-index: -1
    }

    .btn:hover::after{
        width: 100%;
    }
    .btn:hover{
        color: #FFF;
    
    }

    .glass-orange{
        content: "";
        width: 250px;
        height: 300px;
        display: block;
        background: rgb(255 108 0 / 20%);
        position: absolute;
        right: 0;
        bottom: 0;
        border-top-left-radius: 8px;
        backdrop-filter: blur(1px);
    }
}

.img-gallery{
    @apply w-28 h-28 bg-black md:w-72 md:h-72 cursor-pointer
}

.after-line{
    @apply after:w-16 after:h-[2px] after:bg-white after:block
}
.before-line{
    @apply before:w-16 before:h-[2px] before:bg-white before:block
}
.close{color: #f00; text-shadow: 0 0 4px #f00}.open{color: #12C945; text-shadow: 0 0 4px #12C945}

.test{
    @apply md:flex-1 md:h-[512px] md:mt-auto md:bg-[#252525] md:pl-20 md:pr-32 md:gap-y-11 md:relative
}

.list-contact{
    @apply flex items-center gap-x-4
}